.root {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title_container {
  margin-bottom: 70px;
}

.title {
  margin: 0;
  font-weight: normal;
  font-size: 80px;
  line-height: 80px;
  color: #ffffff;
  font-family: "Averta Demo PE";
}

.row {
  display: flex;
  align-items: center;
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 50%;
  background-color: #17171a;
}

.polygon_icon_container {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.polygon_icon {
  margin-bottom: 6px;
}

.form_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 70%;
}

.input_group {
  display: flex;
  justify-content: flex-end;
  width: 60%
}

.input_label_container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input_label {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  font-family: "Averta Demo PE";
}

.input_description {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  font-family: "Averta Demo PE";
}

.text_orange {
  color: #ff9149;
}

.input_button {
  width: 60px;
  height: 60px;
  margin-left: 12px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9149;
  outline: none;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}

.input {
  width: 100%;
  max-width: 514px;
}

@media screen and (max-width: 980px) {
  .form_item {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
  }
  .input_label_container {
    margin-right: 0;
    width: 100%;
  }
  .input {
    max-width: none;
  }
  .input_group {
    width: 100%;
  }
  .title_container {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 780px) {
  .title {
    font-size: 50px;
  }
}

@media screen and (max-width: 560px) {
  .title {
    font-size: 35px;
    line-height: 60px;
  }
  .icon_container {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .polygon_icon_container {
    margin-left: 15px;
    margin-right: 15px;
  }
  .link_icon {
    width: 18px;
    height: 21px;
  }
  .polygon_icon {
    width: 37px;
    height: 41px
  }
  .title_container {
    margin-bottom: 30px;
  }
  .root {
    padding-top: 30px;
  }
  .input_description {
    color: #FF9149;
    white-space: nowrap;
    margin-bottom: 18px;
  }
  .input_label {
    color: #FF9149;
  }
  .form_item {
    width: auto;
  }
}

@media screen and (max-height: 700px) {
  .root {
    padding-top: 0;
  }
}