.root {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_container {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.logo_text {
  margin-left: 16px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #fff;
  font-family: 'Averta Demo PE';
}

.link_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  margin-right: 60px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  font-family: 'Averta Demo PE';
  cursor: pointer;
}

@media screen and (max-width: 730px) {
  .link {
    display: none; 
  }
}

@media screen and (max-width: 560px) {
  .logo_text {
    font-size: 16px;
  }
  .root {
    padding: 20px 24px;
  }
}