html body #root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232326;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Averta Demo PE';
  src: url('./assets/fonts/AvertaDemoPE-Regular.eot');
  src: local('Averta Demo PE Regular'), local('AvertaDemoPE-Regular'),
      url('./assets/fonts/AvertaDemoPE-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/AvertaDemoPE-Regular.woff2') format('woff2'),
      url('./assets/fonts/AvertaDemoPE-Regular.woff') format('woff'),
      url('./assets/fonts/AvertaDemoPE-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta Demo PE';
  src: url('./assets/fonts/AvertaDemoPE-ExtraboldItalic.eot');
  src: local('Averta Demo PE Extrabold Italic'), local('AvertaDemoPE-ExtraboldItalic'),
      url('./assets/fonts/AvertaDemoPE-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/AvertaDemoPE-ExtraboldItalic.woff2') format('woff2'),
      url('./assets/fonts/AvertaDemoPE-ExtraboldItalic.woff') format('woff'),
      url('./assets/fonts/AvertaDemoPE-ExtraboldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

